@import url(normalize.css);
/* ---- Typography ---- */
@font-face {
  font-family: 'entypo';
  src: url("../fonts/entypo.eot");
  src: url("../fonts/entypo.eot?#iefix") format("embedded-opentype"), url("../fonts/entypo.woff") format("woff"), url("../fonts/entypo.ttf") format("truetype"), url("../fonts/entypo.svg#entypo") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 21, ../_sass/_base.scss */
[data-icon]:before {
  font-family: 'entypo';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* ---- Grid ---- */
@media screen {
  /* line 1, ../_sass/screen.scss */
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 5, ../_sass/screen.scss */
  html, body {
    margin: 0;
    padding: 0;
  }

  /* line 10, ../_sass/screen.scss */
  html {
    background-color: #f1f1f1;
    width: 100%;
    height: 100%;
  }

  /* line 17, ../_sass/screen.scss */
  body {
    font-size: 16px;
    line-height: 24px;
    color: #5A5A5A;
    overflow: auto;
  }
  /* line 28, ../_sass/screen.scss */
  a {
    text-decoration: none;
  }
  /* line 31, ../_sass/screen.scss */
  a:link {
    color: #0077b7;
  }
  /* line 32, ../_sass/screen.scss */
  a:visited {
    color: #6b90a4;
  }
  /* line 33, ../_sass/screen.scss */
  a:active, a:hover {
    color: #00a5fd;
  }

  /* line 37, ../_sass/screen.scss */
  h1 {
    font-size: 32px;
    line-height: 48px;
  }

  /* line 42, ../_sass/screen.scss */
  .screen-reader-text {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
  }

  /* line 48, ../_sass/screen.scss */
  header {
    float: left;
    width: 100%;
    position: relative;
  }
  /* line 58, ../_sass/screen.scss */
  .home #site-title {
    margin-bottom: 1.5em;
  }

  /* line 62, ../_sass/screen.scss */
  #site-title {
    width: 70%;
    text-transform: uppercase;
    padding: 0.75em 1.69492%;
    margin: 0;
    font-size: 1.125em;
    line-height: 1.33333em;
  }
  /* line 78, ../_sass/screen.scss */
  .logo {
    background-color: #2d2d2d;
    width: 5em;
    height: 5em;
    display: block;
    float: left;
    margin: 0 1em 1em 0;
  }
  /* line 91, ../_sass/screen.scss */
  #mobile-nav {
    position: absolute;
    top: 0;
    right: 1.69492%;
    width: 3em;
    padding: 0.75em 0;
    background-color: #555;
    text-align: center;
  }
  /* line 100, ../_sass/screen.scss */
  #mobile-nav a {
    display: block;
    font-size: 24px;
    color: #fff;
  }
  /* line 106, ../_sass/screen.scss */
  #mobile-nav a:last-child {
    margin-bottom: 0;
  }
  /* line 111, ../_sass/screen.scss */
  #search {
    padding: 0.75em 1.69492%;
    float: left;
    width: 100%;
    background-color: #000;
  }
  /* line 127, ../_sass/screen.scss */
  #search-query, #search-submit {
    height: 2.25em;
    margin: 0;
    float: left;
    padding: 0.375em 1.69492%;
    font-size: 16px;
  }
  /* line 139, ../_sass/screen.scss */
  #search-query {
    border-color: #e5e5e5;
    width: 65%;
    border-style: solid;
    border-width: 0.0625em;
    padding: -0.0625em;
  }

  /* line 145, ../_sass/screen.scss */
  #search-submit {
    width: 35%;
    background-color: #888888;
    color: #f7f7f7;
    border: 0;
  }

  /* line 152, ../_sass/screen.scss */
  #intro {
    background-color: #C2C2C2;
    padding: 0.75em 1.69492%;
    clear: both;
  }

  /* line 158, ../_sass/screen.scss */
  #intro h1 {
    font-size: 1.25em;
    line-height: 1.2em;
    line-height: 1.5em;
    margin: 0;
  }

  /* line 164, ../_sass/screen.scss */
  #intro p:first-of-type {
    margin-top: 0;
  }

  /* line 168, ../_sass/screen.scss */
  #intro p:last-of-type {
    margin-bottom: 0.375em;
  }

  /* line 172, ../_sass/screen.scss */
  a.button {
    background-color: #3d3d3d;
    color: #fff;
    padding: 0.375em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
  }

  /* line 179, ../_sass/screen.scss */
  #featured-question {
    line-height: 1.5em;
    padding: 0.75em 1.69492%;
    background-color: #fff;
  }
  /* line 184, ../_sass/screen.scss */
  #featured-question h1 {
    margin-top: 0;
  }
  /* line 186, ../_sass/screen.scss */
  #featured-question span {
    display: block;
  }
  /* line 188, ../_sass/screen.scss */
  #featured-question .category {
    text-transform: uppercase;
    font-size: 0.625em;
    line-height: 2.4em;
  }
  /* line 193, ../_sass/screen.scss */
  #featured-question .title {
    line-height: 1.125em;
  }

  /* Navigation */
  /* line 198, ../_sass/screen.scss */
  nav ul {
    list-style-type: none;
    padding-left: 0;
  }

  /* line 203, ../_sass/screen.scss */
  #navigation {
    clear: both;
    background-color: #333;
  }
  /* line 207, ../_sass/screen.scss */
  #navigation h1 {
    margin: 0;
    color: #e7e7e7;
    border-color: rgba(255, 255, 255, 0.2);
    padding: 0.375em 1.69492% 0 1.69492%;
    font-size: 1.25em;
    line-height: 1.2em;
    line-height: 1.5em;
    border-bottom-style: solid;
    border-bottom-width: 0.0625em;
    padding-bottom: 0.3125em;
  }
  /* line 217, ../_sass/screen.scss */
  #navigation h2 {
    font-size: 1em;
    line-height: 1.5em;
  }
  /* line 219, ../_sass/screen.scss */
  #navigation ul {
    padding: 0;
    width: 100%;
    margin: 0;
  }
  /* line 225, ../_sass/screen.scss */
  #navigation li {
    display: block;
    padding: 0.375em 1.69492% 0 1.69492%;
    border-color: rgba(255, 255, 255, 0.2);
    border-bottom-style: solid;
    border-bottom-width: 0.0625em;
    padding-bottom: 0.3125em;
  }
  /* line 231, ../_sass/screen.scss */
  #navigation li h2 {
    margin: 0;
  }
  /* line 259, ../_sass/screen.scss */
  .home #navigation {
    background-color: #424242;
    color: #e7e7e7;
    overflow: auto;
    width: 100%;
    clear: both;
    text-align: left;
    margin: 0;
  }
  /* line 268, ../_sass/screen.scss */
  .home #navigation h1 {
    padding: 0.75em 1.69492%;
    margin: 0;
    font-size: 18px;
    display: block;
  }
  /* line 275, ../_sass/screen.scss */
  .home #navigation h2 {
    font-size: 1.25em;
    line-height: 1.2em;
    line-height: 1.2em;
  }
  /* line 280, ../_sass/screen.scss */
  .home #navigation ul {
    margin: 0;
    padding-left: 0;
  }
  /* line 285, ../_sass/screen.scss */
  .home #navigation li {
    width: 50%;
    height: 7.5em;
    padding: 0.75em 1.69492%;
    margin: 0;
    float: left;
    border-color: #5c5c5c;
    border-bottom-style: solid;
    border-bottom-width: 0.0625em;
    padding-bottom: -0.0625em;
  }
  /* line 295, ../_sass/screen.scss */
  .home #navigation li:first-of-type, .home #navigation li:nth-of-type(2) {
    border-top-style: solid;
    border-top-width: 0.0625em;
    padding-top: -0.0625em;
  }
  /* line 299, ../_sass/screen.scss */
  .home #navigation li:nth-of-type(2n - 1) {
    border-right-style: solid;
    border-right-width: 0.0625em;
    padding-right: -0.0625em;
  }
  /* line 303, ../_sass/screen.scss */
  .home #navigation li:last-of-type {
    border-bottom: 0;
  }
  /* line 321, ../_sass/screen.scss */
  .pagination {
    background-color: #999;
    overflow: auto;
    clear: both;
  }
  /* line 325, ../_sass/screen.scss */
  .pagination ul {
    padding: 0 3.44828%;
    margin: 0;
  }
  /* line 330, ../_sass/screen.scss */
  .pagination li {
    display: inline-block;
    background-color: #777;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }
  /* line 338, ../_sass/screen.scss */
  .pagination a {
    display: inline-block;
    padding: 0.375em 0.9em;
  }
  /* line 343, ../_sass/screen.scss */
  .pagination a:link, .pagination a:visited {
    color: #e7e7e7;
  }
  /* line 344, ../_sass/screen.scss */
  .pagination a:active, .pagination a:hover {
    color: #fff;
  }

  /* line 347, ../_sass/screen.scss */
  .by-image a:before {
    content: "\e00e";
    font-family: 'entypo';
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-right: .5em;
  }

  /* line 359, ../_sass/screen.scss */
  .alphabetically a:before {
    content: "ABC";
    font-size: 12px;
    vertical-align: middle;
  }

  /* line 365, ../_sass/screen.scss */
  .people nav ul li {
    display: inline-block;
  }

  /* line 369, ../_sass/screen.scss */
  .about div[role=main] {
    clear: both;
    padding: 0 0 3em 0;
    background-color: #fff;
    float: left;
  }
  /* line 375, ../_sass/screen.scss */
  .about div[role=main] p {
    padding: 0 5%;
  }
  /* line 389, ../_sass/screen.scss */
  div[role=main] {
    overflow: auto;
    clear: both;
  }

  /* line 394, ../_sass/screen.scss */
  .image {
    width: 48%;
    height: 9em;
    background-color: #ccc;
    float: left;
    margin: 0 0 1.5em 0;
  }
  /* line 401, ../_sass/screen.scss */
  .image:first-of-type {
    margin-right: 4%;
  }
  /* line 409, ../_sass/screen.scss */
  .right {
    width: 100%;
    display: block;
  }
  /* Inspector */
  /* line 427, ../_sass/screen.scss */
  div[role=main] > h1:first-of-type {
    padding: 5% 3.44828%;
    background-color: #CFCFCF;
    margin: 0;
  }

  /* line 433, ../_sass/screen.scss */
  div[role=main] h2 {
    padding-left: 5%;
    clear: both;
    float: left;
    width: 100%;
    margin-top: 2em;
  }

  /* line 440, ../_sass/screen.scss */
  .mission-header {
    background-color: #cdcdcd;
    width: 100%;
    height: 20em;
    display: block;
    float: left;
    margin-top: 5em;
  }

  /* Explorations */
  /* line 451, ../_sass/screen.scss */
  .questions {
    width: 100%;
    clear: both;
  }

  /* line 456, ../_sass/screen.scss */
  .explorations .question {
    background-color: #ccc;
    width: 50%;
    height: 15em;
    float: left;
    border-color: #f7f7f7;
    padding: 1.5em;
    border-left-style: solid;
    border-left-width: 0.0625em;
    padding-left: 1.4375em;
    border-top-style: solid;
    border-top-width: 0.0625em;
    padding-top: 1.4375em;
  }
  /* line 466, ../_sass/screen.scss */
  .explorations .question p {
    margin: 0;
  }
  /* line 468, ../_sass/screen.scss */
  .explorations .question:first-child {
    width: 100%;
    font-size: 1.5em;
    line-height: 2em;
    height: 10em;
  }
  /* line 474, ../_sass/screen.scss */
  .explorations .question:nth-child(6), .explorations .question:nth-child(8) {
    width: 33.33333%;
  }
  /* line 478, ../_sass/screen.scss */
  .explorations .question:nth-child(7) {
    height: 20em;
    width: 66.66667%;
    font-size: 1.5em;
    line-height: 2em;
    line-height: 36px;
    float: right;
  }
  /* line 509, ../_sass/screen.scss */
  .exploration-answer div[role=main] {
    background: #fff;
  }

  /* line 513, ../_sass/screen.scss */
  .answer {
    background: #fff;
    padding: 1.5em 0;
  }
  /* line 517, ../_sass/screen.scss */
  .answer p {
    padding: 0 3.44828%;
  }
  /* line 532, ../_sass/screen.scss */
  .learn-more {
    padding: 0 3.44828% 1.5em;
  }
  /* line 540, ../_sass/screen.scss */
  .learn-more > p {
    margin-left: 1.5em;
    text-indent: -1.5em;
  }
  /* line 545, ../_sass/screen.scss */
  .learn-more > p:first-child {
    font-weight: bold;
  }
  /* line 549, ../_sass/screen.scss */
  .learn-more > p a:before {
    font-family: 'entypo';
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-right: .5em;
  }
  /* line 560, ../_sass/screen.scss */
  .learn-more .back a:before {
    content: "\e00d";
  }
  /* line 561, ../_sass/screen.scss */
  .learn-more .prev a:before {
    content: "\e006";
  }
  /* line 562, ../_sass/screen.scss */
  .learn-more .next a:before {
    content: "\e009";
  }
  /* line 564, ../_sass/screen.scss */
  .learn-more ul {
    padding-left: 1.5em;
    border-color: #ccc;
    border-bottom-style: solid;
    border-bottom-width: 0.0625em;
    padding-bottom: 1.4375em;
  }

  /* line 572, ../_sass/screen.scss */
  .people .persons {
    background-color: #fff;
    padding: 1.5em 3.44828%;
    overflow: auto;
  }
  /* line 578, ../_sass/screen.scss */
  .people div[role=main] nav {
    width: 100%;
  }
  /* line 580, ../_sass/screen.scss */
  .people div[role=main] nav ul {
    background-color: #666;
    margin: 0;
    overflow: auto;
  }
  /* line 585, ../_sass/screen.scss */
  .people div[role=main] nav ul li {
    float: right;
  }
  /* line 587, ../_sass/screen.scss */
  .people div[role=main] nav ul a {
    padding: 0.75em 20px;
    background-color: #343434;
    display: inline-block;
  }

  /* line 597, ../_sass/screen.scss */
  .people.images .blurb {
    display: none;
  }
  /* line 599, ../_sass/screen.scss */
  .people.images .persons {
    text-align: center;
  }
  /* line 601, ../_sass/screen.scss */
  .people.images .person {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    margin: 3%;
    text-align: center;
  }
  /* line 609, ../_sass/screen.scss */
  .people.images .image {
    display: inline-block;
    float: none;
  }
  /* line 614, ../_sass/screen.scss */
  .people.images .person h2 {
    margin-top: 0;
    font-size: 0.875em;
    line-height: 1.71429em;
    text-align: center;
    font-style: italic;
  }
  /* line 621, ../_sass/screen.scss */
  .people.images .image {
    width: 6em;
    height: 11em;
    -webkit-border-radius: 55px/100px;
    -moz-border-radius: 55px/100px;
    border-radius: 55px/100px;
  }

  /* line 631, ../_sass/screen.scss */
  .people.alpha .persons {
    padding: 0;
  }
  /* line 639, ../_sass/screen.scss */
  .people.alpha .persons h2 {
    margin: 0;
    background-color: #e7e7e7;
    padding: 0.375em 3.44828%;
    font-size: 1em;
    line-height: 1.5em;
  }
  /* line 656, ../_sass/screen.scss */
  .people.alpha .person {
    padding: 0.375em 3.44828%;
    display: inline-block;
    width: 100%;
  }
  /* line 673, ../_sass/screen.scss */
  .events .timeline {
    background-color: #fff;
    overflow: auto;
  }
  /* line 677, ../_sass/screen.scss */
  .events .timeline h2 {
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 0;
    padding: 0.75em 3.44828%;
  }
  /* line 683, ../_sass/screen.scss */
  .events .timeline h2:nth-child(1) {
    background-color: #e7e7e7;
  }
  /* line 684, ../_sass/screen.scss */
  .events .timeline h2:nth-child(2) {
    background-color: #ccc;
  }
  /* line 685, ../_sass/screen.scss */
  .events .timeline h2:nth-child(3) {
    background-color: #999;
  }
  /* line 686, ../_sass/screen.scss */
  .events .timeline h2:nth-child(4) {
    background-color: #777;
  }
  /* line 702, ../_sass/screen.scss */
  .events .timeline .image {
    display: block;
    width: 100px;
    height: 100px;
    float: left;
    background-color: #ccc;
    margin: 0 3.44828% 0.75em 0;
  }
  /* line 715, ../_sass/screen.scss */
  .events .timeline .period {
    overflow: auto;
    border-color: #e7e7e7;
    border-bottom-style: solid;
    border-bottom-width: 0.0625em;
    padding-bottom: -0.0625em;
  }
  /* line 727, ../_sass/screen.scss */
  .events .timeline .event {
    padding: 0 3.44828%;
    border-color: #e7e7e7;
    border-bottom-style: solid;
    border-bottom-width: 0.0625em;
    padding-bottom: -0.0625em;
  }
  /* line 742, ../_sass/screen.scss */
  .locations {
    background-color: #fff;
  }
  /* line 745, ../_sass/screen.scss */
  .locations .image {
    width: 100px;
    height: 100px;
    margin-bottom: 0.75em;
  }
  /* line 756, ../_sass/screen.scss */
  .site {
    padding: 1.5em 3.44828% 0;
    border-color: #ccc;
    overflow: auto;
    border-bottom-style: solid;
    border-bottom-width: 0.0625em;
    padding-bottom: 1.4375em;
  }
  /* line 762, ../_sass/screen.scss */
  .site h3 {
    margin-top: 0;
  }
  /* line 764, ../_sass/screen.scss */
  .site p:last-of-type {
    margin-bottom: 0;
  }

  /* line 768, ../_sass/screen.scss */
  .item div[role=main] {
    background-color: #fff;
    padding-bottom: 3em;
  }
  /* line 772, ../_sass/screen.scss */
  .item div[role=main] h2 {
    padding-left: 0;
  }
  /* line 775, ../_sass/screen.scss */
  .item div[role=main] h2:first-of-type {
    margin-top: 1.5em;
  }
  /* line 791, ../_sass/screen.scss */
  .item .metadata .image {
    width: 100%;
    padding: 20px;
    margin: 0;
    border-color: #f7f7f7;
    border-top-style: solid;
    border-top-width: 0.0625em;
    padding-top: -0.0625em;
  }
  /* line 805, ../_sass/screen.scss */
  .item .description {
    padding: 0 3.44828%;
  }
  /* line 813, ../_sass/screen.scss */
  .item .description p {
    clear: both;
  }
  /* line 816, ../_sass/screen.scss */
  .item .description p:first-of-type {
    padding-top: 1.5em;
  }
  /* line 826, ../_sass/screen.scss */
  .item .category {
    font-weight: bold;
  }
}
@media screen and (min-width: 40em) {
  /* line 17, ../_sass/screen.scss */
  body {
    max-width: 59em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 7.5em;
  }
  /* line 38, ../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  body:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media screen and (min-width: 40em) {
  /* line 48, ../_sass/screen.scss */
  header {
    padding-top: 3em;
  }
}

@media screen and (min-width: 40em) {
  /* line 62, ../_sass/screen.scss */
  #site-title {
    font-size: 0.875em;
    line-height: 1.71429em;
    width: 30%;
    float: left;
    line-height: 29px;
    padding: 0;
  }
}

@media screen and (min-width: 40em) {
  /* line 78, ../_sass/screen.scss */
  .logo {
    margin: .5em 1em 1em 0;
  }
}

@media screen and (min-width: 40em) {
  /* line 91, ../_sass/screen.scss */
  #mobile-nav {
    display: none;
  }
}

@media screen and (min-width: 40em) {
  /* line 111, ../_sass/screen.scss */
  #search {
    padding: 0;
    width: 30%;
    float: right;
    display: block !important;
    background-color: transparent;
    margin-bottom: 0.75em;
  }
}

@media screen and (min-width: 40em) {
  /* line 127, ../_sass/screen.scss */
  #search-query, #search-submit {
    height: 1.875em;
  }
}

@media screen and (min-width: 40em) {
  /* line 203, ../_sass/screen.scss */
  #navigation {
    background-color: transparent;
    text-align: right;
    display: block;
    float: right;
    clear: none;
    width: 70%;
    display: block !important;
    margin-top: 3em;
    margin-bottom: 0.75em;
  }
  /* line 245, ../_sass/screen.scss */
  #navigation ul {
    padding: 0;
    margin-bottom: 0;
  }
  /* line 250, ../_sass/screen.scss */
  #navigation li {
    display: inline-block;
    margin: 0;
  }
  /* line 255, ../_sass/screen.scss */
  #navigation h1 {
    display: none;
  }
}

@media screen and (min-width: 40em) {
  /* line 308, ../_sass/screen.scss */
  .home #navigation li {
    width: 33.33333%;
    border-top-style: solid;
    border-top-width: 0.0625em;
    padding-top: -0.0625em;
    border-right-style: solid;
    border-right-width: 0.0625em;
    padding-right: -0.0625em;
  }
  /* line 314, ../_sass/screen.scss */
  .home #navigation li:last-of-type {
    border-right-style: solid;
    border-right-width: 0em;
    padding-right: 0em;
  }
}

@media screen and (min-width: 40em) {
  /* line 375, ../_sass/screen.scss */
  .about div[role=main] p {
    width: 100%;
    float: left;
    display: inline-block;
  }
}
@media screen and (min-width: 40em) {
  /* line 385, ../_sass/screen.scss */
  .about div[role=main] .history p {
    width: 60%;
  }
}

@media screen and (min-width: 40em) {
  /* line 394, ../_sass/screen.scss */
  .image {
    width: 16em;
    height: 12em;
  }
}

@media screen and (min-width: 40em) {
  /* line 409, ../_sass/screen.scss */
  .right {
    float: right;
    width: 35%;
    margin-right: 5%;
  }
  /* line 417, ../_sass/screen.scss */
  .right .image {
    float: right;
  }
  /* line 419, ../_sass/screen.scss */
  .right .image:first-of-type {
    margin-right: 0;
  }
}

@media screen and (min-width: 40em) {
  /* line 456, ../_sass/screen.scss */
  .explorations .question {
    height: 15em;
    padding-right: 1.5em;
  }
  /* line 491, ../_sass/screen.scss */
  .explorations .question:first-child, .explorations .question:nth-child(2), .explorations .question:nth-child(3), .explorations .question:nth-child(4), .explorations .question:nth-child(6), .explorations .question:nth-child(7) {
    width: 25%;
    font-size: 1em;
    line-height: 1.5em;
    height: 15em;
  }
  /* line 497, ../_sass/screen.scss */
  .explorations .question:nth-child(5) {
    width: 50%;
    font-size: 1.5em;
    line-height: 2em;
    height: 10em;
  }
  /* line 503, ../_sass/screen.scss */
  .explorations .question:nth-child(8), .explorations .question:nth-child(9), .explorations .question:nth-child(10) {
    width: 33.33333%;
  }
}

@media screen and (min-width: 40em) {
  /* line 517, ../_sass/screen.scss */
  .answer p {
    width: 100%;
    display: inline-block;
    padding: 0 0 0 7.14286%;
  }
}
@media screen and (min-width: 40em) {
  /* line 513, ../_sass/screen.scss */
  .answer {
    padding: 3em 0;
    width: 57.62712%;
    float: left;
    margin-right: 1.69492%;
  }
}

@media screen and (min-width: 40em) {
  /* line 532, ../_sass/screen.scss */
  .learn-more {
    width: 40.67797%;
    float: right;
    margin-right: 0;
    padding: 3em 3.44828%;
  }
}
@media screen and (min-width: 40em) {
  /* line 631, ../_sass/screen.scss */
  .people.alpha .persons {
    padding: 4.5em 0;
  }
}
@media screen and (min-width: 40em) {
  /* line 639, ../_sass/screen.scss */
  .people.alpha .persons h2 {
    font-size: 1.5em;
    line-height: 2em;
    width: 15.25424%;
    float: left;
    margin-right: 1.69492%;
    padding-left: 33.89831%;
    vertical-align: top;
    background-color: transparent;
    margin: 0;
    padding-top: 0;
  }
}
@media screen and (min-width: 40em) {
  /* line 656, ../_sass/screen.scss */
  .people.alpha .person {
    width: 57.62712%;
    float: left;
    margin-right: 1.69492%;
    padding-right: 16.94915%;
    float: right;
    margin-bottom: 1.5em;
  }
  /* line 667, ../_sass/screen.scss */
  .people.alpha .person:last-of-type {
    margin-bottom: 4.5em;
  }
}

@media screen and (min-width: 40em) {
  /* line 677, ../_sass/screen.scss */
  .events .timeline h2 {
    font-size: 1.5em;
    line-height: 2em;
    width: 15.25424%;
    float: left;
    margin-right: 1.69492%;
    text-align: center;
    padding: 10px;
  }
  /* line 695, ../_sass/screen.scss */
  .events .timeline h2:nth-child(1), .events .timeline h2:nth-child(2), .events .timeline h2:nth-child(3), .events .timeline h2:nth-child(4) {
    background-color: transparent;
  }
}
@media screen and (min-width: 40em) {
  /* line 702, ../_sass/screen.scss */
  .events .timeline .image {
    margin: 1.5em 3.44828% 1.5em 0;
  }
}
@media screen and (min-width: 40em) {
  /* line 720, ../_sass/screen.scss */
  .events .timeline .period:nth-child(1) {
    background-color: #e7e7e7;
  }
  /* line 721, ../_sass/screen.scss */
  .events .timeline .period:nth-child(2) {
    background-color: #ccc;
  }
  /* line 722, ../_sass/screen.scss */
  .events .timeline .period:nth-child(3) {
    background-color: #999;
  }
  /* line 723, ../_sass/screen.scss */
  .events .timeline .period:nth-child(4) {
    background-color: #777;
  }
}
@media screen and (min-width: 40em) {
  /* line 727, ../_sass/screen.scss */
  .events .timeline .event {
    background-color: #fff;
    width: 83.05085%;
    float: right;
    margin-right: 0;
    padding: 0 2%;
    border-bottom: 0;
  }
}

@media screen and (min-width: 40em) {
  /* line 745, ../_sass/screen.scss */
  .locations .image {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 40em) {
  /* line 778, ../_sass/screen.scss */
  .item div[role=main] h2:first-of-type {
    margin-top: 2.25em;
  }
}
@media screen and (min-width: 40em) {
  /* line 783, ../_sass/screen.scss */
  .item .metadata {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    padding-left: 8.47458%;
    padding-top: 3em;
  }
}
@media screen and (min-width: 40em) {
  /* line 791, ../_sass/screen.scss */
  .item .metadata .image {
    margin-bottom: 1.5em;
  }
}
@media screen and (min-width: 40em) {
  /* line 805, ../_sass/screen.scss */
  .item .description {
    width: 57.62712%;
    float: right;
    margin-right: 0;
    padding-right: 8.47458%;
    padding-top: 2.25em;
  }
}
@media screen and (min-width: 40em) {
  /* line 813, ../_sass/screen.scss */
  .item .description p {
    padding: 0;
  }
  /* line 821, ../_sass/screen.scss */
  .item .description p:first-of-type {
    padding-top: 0;
  }
}
