/* @group ----- Generic HTML elements ----- */

body {
    @include container;
    padding-bottom: rhythm(5);

}

/* @end */

/* @group ----- Global classes ----- */

div[role=main] { 
    @include box-shadow(#BBB 0 0 50px); 
    
    & > h1:first-of-type {
        padding: rhythm(3) gutter(6);
        text-align: center;
    }
}

.image {
    width: 16em;
    height: 12em;
}

/* @end */

/* @group ----- Header ----- */

header { 
    padding: rhythm(4) 1em rhythm(1);
    text-align: center;
    @include leader(2);
    background-color: #FFF;
    z-index: 10;
    @include box-shadow(0 0 50px rgba(0, 128, 0, 0.18));
    border-top: 5px solid #DB6C36;
}

#site-title {
    @include adjust-font-size-to(14px);
    float: none;

    img {
        height: rhythm(5);
        width: auto;
    }
}

.logo { margin: .5em 1em 1em 0; }

#search-form {
    padding: 0;
    width: 30%;
    float: right;
    display: block !important;
    background-color: transparent;
    margin: 0 gutter(12) 0 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    font-size: 0;
    
    input[type=text] { 
        width: 60%;
        margin: rhythm(.75) 0;
        border: 1px solid #e7e7e7;
        font-size: $base-font-size;
        line-height: $base-line-height;
        float:none;
        display: inline-block;
    }
    
    input[type=submit] {
        width: 36%;
        margin: rhythm(.75) gutter(6) rhythm(.75) 0;
        font-size: $base-font-size;
        line-height: $base-line-height;
        float:none;
        display: inline-block;
    }
}

/* @end */

/* @group ----- Footer ----- */

footer {
    @include padding-leader(2);
}

footer .copy {
    @include span-columns(6 alpha);
}

footer .logos {
    @include span-columns(6 omega);
}

footer img {
    margin: 0 0 rhythm() gutter(6);
}

/* @end */

/* @group ----- Home ----- */

#intro {
    @include span-columns(4 alpha);
    @include trailing-border(0px, 0, $base-font-size, solid);
}

.home #site-title {
    @include adjust-font-size-to(14px);
    float: none;
    padding: rhythm(2) 0;

    img {
        height: rhythm(5);
        width: auto;
    }
}

.home header {
    padding:0;
}

.home .news-item {
    @include span-columns(4);
    @include padding-leader(.5);
    
    &:first-of-type { @include span-columns(4 alpha); }
    &:last-of-type { @include span-columns(4 omega); }
    
    &:after {
        content: "";
        display: block;
        width: 100%;
        background-image: linear-gradient(0deg, rgba(255,255,255,1), rgba(255,255,255,0));
        position: absolute;
        z-index: 50;
    }
}

.home #search-form {
    position: relative;
    width: 100%;
    border-left: 0;
    padding: rhythm(.5) gutter();
    float: left;
    width: 100%;
    background-color: rgba(0,0,0,.04);
    @include leader();
    
    input[type=text], input[type=submit] {
        height: rhythm(1.5);
        margin: rhythm(.5) 0;
        float: left;
        padding: rhythm(.25) gutter();
        font-size: $base-font-size;
    }
    
    input[type=text] {
        width: 65%;
        border: 0;
    }
    
    input[type=submit] {
        width: 35%;
        background-color: $green;
        color: #f7f7f7;
        border: 0;
    }
}

/* @end */

/* @group ----- Navigation ----- */

#navigation {
    float: right;
    clear: none;
    width: 100%;
    display: block !important;
    background-color: #FFF;
    text-align: left;
    clear: none;
    display: block !important;
    margin: 0 0 rhythm(.5);
    position: absolute;
    top: 0;
    padding: 0;
    left: 0;
    
    a { 
        border-right: 1px solid #F7F7F7;
        float: left;
        padding: rhythm(1);    
    }
    
    ul { 
        padding: 0; 
        width: 100%;
        margin: 0;
        overflow: auto;
        border-bottom: 1px solid #F7F7F7;
    }
    
    li { 
        margin: 0; 
        border-bottom: 0;
        padding: 0;
        float:left;
    }
}

.home #navigation {
    position: relative;

    ul {
        @include trailing-border(0px, 0, $base-font-size, solid);
    }
    
    li { 
        width: percentage(1/2);
        height: rhythm(7);
        @include leading-border(0px, 0, $base-font-size, solid);
        
        &:after { 
            height: rhythm(7); 
        }
    }
    
    a {
        text-align: left;
        font-size: 1.5 * $base-font-size;
        line-height: $base-line-height;
        border: 0;
        padding: 1em;
        width: 100%;
        height: 100%;
    }
    
    li:last-of-type {
        @include apply-side-rhythm-border(right, 0px, 0, $base-font-size, solid);
    }
}

/* @end */

/* @group ----- Discover ----- */

.explorations h1 + .pagination {
    @include trailer();
}

.explorations .question {
    width: 240px;
    margin-bottom: 20px;
}

.content {
    @include span-columns(8 alpha);
    padding: rhythm() 0 rhythm() gutter(6);
}

.answer {
    padding: rhythm(2) 0;
    @include span-columns(8 alpha);

    .related-items {
        @include leader(2);
        clear: both;
        display: block;
        
        .item { 
            @include trailer(2); 
            overflow: auto;
        }
        
        .image {
            margin-left: gutter(6);
            margin-right: 0;
            clear: both;
            width: 12em;
            height: 9em;
        }
        
        h2, p {
            @include span-columns(7 omega);
            clear: none;
            margin: 0 0 rhythm(1) 0;
            padding: 0 gutter(6) 0 0;
        }
    }
    
    .related-items-mobile {
        display: none;
    }
}

.learn-more {
    clear: none;
    padding-left: 0;
    @include span-columns(4 omega);
    
    .items, .other-questions, .themes {
        background-color: #f7f7f7;
        padding: rhythm(1) gutter(4);
        border: 0;
        @include trailer(2);
        
        & > *:first-of-type { 
            margin-top: 0; 
            padding-top: 0;
        }
        
        & > *:last-of-type, .hTagcloud > ul { 
            margin-bottom: 0; 
            padding-bottom: 0;
            border: 0;
        }
        
        h3:last-of-type { @include trailer(.5); }
    }
    
    .items { @include leader(.5); }
    
    .other-questions {
        border-bottom: 0;

        p { 
            border-color: #ccc;
            @include trailing-border(1px, 1, $base-font-size, solid); 
        }
    }
    
    ul {
        border-bottom: 0;
    }
}

.exhibits.show .content {
    padding: rhythm() gutter(12) !important;
}

.exhibits.show .layout-geolocation-map,
.layout-scavenger-hunt {
    @include trailer();
}

/* @end */

/* @group ----- People ----- */

.people.alpha {
    .persons {
        padding: rhythm(3) 0; 
        
        h2 {
            @include adjust-font-size-to(24px);
            @include span-columns(2);
            @include prefix(4);
            vertical-align: top;
            background-color: transparent;
            margin: 0;
            padding-top: 0;
        }
    }
    
    .person {
        @include span-columns(7);
        @include suffix(2);
        float: right;
        @include trailer();
        
        &:last-of-type { @include trailer(3); }        
    }
}

.persons.images .person {
    width: 25%;
}

.persons.images .image {
    width: 95px;
    -webkit-border-radius: 85px/130px;
    -moz-border-radius: 85px/130px;
    border-radius: 85px/130px;
}

/* @end */

/* @group ----- Events ----- */

.items.event {
    .items h2 {
        @include adjust-font-size-to(24px);
        @include span-columns(2 alpha);
        text-align: center;
        padding: 10px;
        font-size: 1.5 * $base-font-size;
        line-height: 1.5 * $base-line-height;
        @include padding-leader();
    }
    
    .items .period:nth-of-type(2n) h2 {
        background-color: transparent;
    }
    
    .image {
        margin: rhythm(1) gutter(6) rhythm(1) 0;
    }
    
    .period {
        background-color: #e7e7e7;
        &:nth-of-type(2n) { background-color: #f7f7f7; }
    }
    
    .event {
        background-color: #fff;
        @include span-columns(10 omega);
        padding: 0 2%;
        border-bottom: 0;
    }
}

#period-nav {
    font-size: 16px;
    padding: rhythm(.5) gutter(6);
    max-width: ($column-width * 12) + ($gutter-width * 9);
    
    .sub-menu {
        margin-top: 0;
    }
    
    ul li:first-of-type, a {
        line-height: 1.5 * $base-line-height;      
    }
}

/* @end */

/* @group ----- Sites ----- */

.item {
    div[role=main] h2:first-of-type {
        @include leader(1.5);
    }
    
    .metadata {
        @include span-columns(4 alpha);
        @include prefix(1);
        @include padding-leader(2);
        
        .image {
                @include trailer();
        }
    }
    
    .description {
        @include span-columns(7 omega);
        @include suffix(1);
        padding-top: rhythm(1.5);
        
        p {
            padding: 0;
            
            &:first-of-type { padding-top: 0; }
        }
    }
}

/* @end */

/* @group ----- Themes ----- */

.themes .theme-list {
      -webkit-columns: 2;
      -moz-columns: 2;
}

/* @end */

/* @group ----- Items/Browse ----- */

.items.browse .item {
    img {
        margin-right: gutter(6);
    }
}

/* @end */

/* @group ----- Items/Show ----- */

.items.show div[role=main] {
    h1 {
        @include trailer(2);
    }

    & > div {
        @include prefix(1);
        @include suffix(1);
        @include span-columns(8 alpha);
    }
    
    & > aside {
        @include prefix(0);
        @include suffix(1);
        @include span-columns(4 omega);
        
        & > div {
            display: block;
        }
        
        img {
            @include trailer();
        }
    }
}

.item-pagination { @include trailer(2); }

.items.show .element-text {
    display: block;
}

#mobile-content {
    display: none;
}
/* @end */

/* @group ----- Themes ----- */

.search-result.item .description {
    width: auto;
    float: none;
}

.search-result .image {
    @include trailer();
}

/* @end */

/* @group ----- Map ----- */

body {
    height: auto;
}

.map div[role="main"] h1:first-of-type {
    padding: rhythm(.25) 0;
}

.map #map {
    min-height: rhythm(40);
}

#filters {
    height: auto;
}

#filters div label {
    width: 48%;
    float: left;
    
    &:nth-of-type(2n) {
        margin-left: 2%;
    }
}
div#geolocation {
    clear: none;
}
/* @end */