.people .pagination {
    width: 70%;
    @include trailing-border(0px, 0, $base-font-size, solid);
    
    & + ul {
        width: 30%;
        @include box-shadow(none);
    }
}

.persons.images .person {
    width: 40%;
}