@import "base";

/* @group ----- Generic HTML elements ----- */

* {
    @include box-sizing(border-box);
}

html, body {
    margin: 0;
    padding: 0;
}

html { 
    width: 100%;
    height: 100%;

}

body { 
    background: url('../images/bg2.jpg') no-repeat center center fixed;
    @include background-size(cover);
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: $body-copy;
    overflow-x: hidden;
    overflow-y: auto; 
    word-wrap: break-word;
}

a {
    text-decoration: none;
    
    &:link { color: $dark-red}
    &:visited { color: $red}
    &:active, &:hover { color: $bright-red}
    
}

h1 {
    font-size: $base-font-size * 2;
    line-height: 2 * $base-line-height;
}

h1, h2, h3, h4, h5, h6 { font-weight: 400; }

input {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

/* @end */

/* @group ----- Global classes ----- */

.screen-reader-text {
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}

a.button {
    background-color: #3d3d3d;
    color: #fff;
    padding: rhythm(.5);
    @include border-radius(3px);
}

div[role=main] {
    clear: both;
    background-color: #fff;
    float: left;
    
    & > h1:first-of-type {
        background-color: $blue;
        color: #fff;
        padding: 5% gutter(6);
        margin: 0;
    }
    
    & + nav, h1 + nav {
        @include box-shadow(rgba(0,0,0,.1) 0 5px 10px);
        height: rhythm(2);
        position: relative;
        z-index: 60;
    }
}

#outputs {
    padding: rhythm(1) gutter(6);
    border-color: #e7e7e7;
    @include leading-border(1px, 1, $base-font-size, solid);
    background-color: #fff;
}


/* @end */

/* @group ----- Header ----- */

header {
    float: left;
    width: 100%;
    position: relative;
    text-align: center;
}

#site-title {
    width: 100%;
    text-transform: uppercase;
    padding: rhythm(.5) 5%;
    margin: 0;
    @include adjust-font-size-to(18px);
    
    a {
        padding: rhythm(.5) 0;
        display: inline-block;
    }
    
    img {
        height: rhythm(4);
        width: auto;
    }
}

#mobile-nav { 
    right: gutter(6);
    width: 100%;
    height: rhythm(1.5);
    background-color: #fff;
    text-align: center;
    display: table;
    @include box-shadow(rgba(0, 0, 0, 0.08) 0 -10px 40px 0px);
    
    a { 
        display: table-cell; 
        font-size: 24px;
        width: 50%;
        vertical-align: middle;
    }
    
    a:last-of-type { margin-bottom: 0; }
    
    @include at-breakpoint($break) { display: none; }
}

#search-form {
    padding: rhythm(.5) 2%;
    border-color: #e7e7e7;
    @include leading-border(1px, .5, $base-font-size, solid);
    float: left;
    width: 100%;
    background-color: #fff;
    
    input[type=text], input[type=submit] {
        @include border-radius(0);
        height: rhythm(1.5);
        margin: 0;
        float: left;
        padding: rhythm(.25) gutter();
        font-size: $base-font-size;
    }
    
    input[type=text] {
        width: 65%;
        border: 1px solid #e7e7e7;
    }
    
    input[type=submit] {
        width: 35%;
        background-color: $green;
        color: #e7e7e7;
        border: 0;
    }
}

/* @end */

/* @group ----- Home ----- */

#intro {
    background-color: #fff;
    padding: rhythm(.5) gutter();
    @include trailing-border(1px, 1, $base-font-size, solid);
    border-color: #e7e7e7;
    clear: both;
}

#intro h1 {
    font-size: 1.5 * $base-font-size;
    line-height: 1.5 * $base-line-height;
    margin: rhythm(.25) 0;
}

#intro p:first-of-type {
    margin-top: 0;
}

#intro p:last-of-type {
    margin-bottom: rhythm(.5);
}

#intro .button {
    background-color: $blue;
    display: inline-block;
}

.home #navigation li:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    content: "";
    display: block;
    width: 100%;
}

.home #navigation li:nth-of-type(4) {
    background: url('../images/map.png') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    
    &:after {
        background-image: -webkit-linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(33, 201, 0, 0.4));
        background-image: -moz-linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(33, 201, 0, 0.4));
        background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(33, 201, 0, 0.4));
    }
}

.home #navigation li:nth-of-type(3) {
    background: url('../images/james.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    

    &:after {
        background-image: -webkit-linear-gradient(255deg, rgba(0, 0, 0, 0.8), rgba(43, 137, 217, 0.4));
        background-image: -moz-linear-gradient(255deg, rgba(0, 0, 0, 0.8), rgba(43, 137, 217, 0.4));
        background-image: linear-gradient(255deg, rgba(0, 0, 0, 0.8), rgba(43, 137, 217, 0.4));
    }
}

.home #navigation li:first-of-type {
    background: url('../images/discover.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

    &:after {
        background-image: -webkit-linear-gradient(195deg, rgba(0, 0, 0, 0.8), rgba(217, 196, 20, 0.4));
        background-image: -moz-linear-gradient(195deg, rgba(0, 0, 0, 0.8), rgba(217, 196, 20, 0.4));
        background-image: linear-gradient(195deg, rgba(0, 0, 0, 0.8), rgba(217, 196, 20, 0.4));
    }
}

.home #navigation li:nth-of-type(2) {
    background: url('../images/events.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

    &:after {
        background-image: -webkit-linear-gradient(15deg, rgba(0, 0, 0, 0.8), rgba(255, 51, 0, 0.4));
        background-image: -moz-linear-gradient(15deg, rgba(0, 0, 0, 0.8), rgba(255, 51, 0, 0.4));
        background-image: linear-gradient(15deg, rgba(0, 0, 0, 0.8), rgba(255, 51, 0, 0.4));
    }
}


.home .news-item {
    @include container;
    height: rhythm(12);
    overflow: hidden;
    position: relative;
    
    h1 {
        font-size: $base-font-size;
        line-height: $base-line-height;
        text-transform: uppercase;
    }
    
    h2 {
        margin: 0 0 $base-line-height;
        padding-left: 0;
    }
    
    p {
        display: block;
    }
}

#featured-question {
    @include adjust-leading-to(1);
    padding: rhythm(.5) gutter();
    background-color: #fff;
    min-height: rhythm(14);
    
    &:after {
        background-image: -webkit-linear-gradient(215deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3));
        background-image: -moz-linear-gradient(215deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3));
        background-image: linear-gradient(215deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3));
    }
    
    h1 { margin-top: 0; }
    
    span { display: block; }
    
    .category {
        text-transform: uppercase;
        @include adjust-font-size-to(10px);
    }
    
    .title { @include adjust-leading-to(.75); }
}

#featured-person {
    @include leading-border(1px, 1, $base-font-size, solid);
    background: #fff no-repeat center 25%/cover;
    width: 100%;
    
    &:after {
        background-image: -webkit-linear-gradient(80deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3));
        background-image: -moz-linear-gradient(80deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3));
        background-image: linear-gradient(80deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3));
    }
}

#featured-three {
    @include leading-border(1px, 1, $base-font-size, solid);
    background: #fff url('../images/spencer.jpg') no-repeat center 25%;
}

.featured {
    @include adjust-leading-to(1);
    padding: rhythm(.5) gutter();
    background-size: cover;
    position: relative;
    overflow: hidden;
    border-color: #fff;
    color: #fff;

    .button { 
        display: inline-block;
        background-color: $red;
        text-shadow: none;
    }
    
    * { 
        position: relative;
        z-index: 10; 
        text-shadow: 0 0 30px #000;
    }
    
    h1 { margin-top: 0; }
    
    span { display: block; }
    
    .category {
        text-transform: uppercase;
        @include adjust-font-size-to(10px);
    }
    
    .title { @include adjust-leading-to(.75); }
    
    &:after {
        content: "";
        display: block;
        width: 100%;
        padding-bottom: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
    }
}

/* @end */

/* @group ----- Navigation ----- */

nav ul {
    list-style-type: none;
    padding-left: 0;
}

#navigation {
    clear: both;
    background-color: #fff;
    @include leading-border(1px, 0, $base-font-size, solid);
    border-color: #e7e7e7;
    
    h1 { 
        margin: 0;
        border-color: rgba(0,0,0,.03);
        padding: rhythm(.25) gutter() 0 gutter();
        @include adjust-font-size-to(20px); 
        @include adjust-leading-to(1, $base-font-size);
        @include trailing-border(1px, .25, $base-font-size, solid);
    }
    
    h2 { @include adjust-font-size-to(16px); }
    
    ul { 
        padding: 0;
        width: 100%;
        margin: 0;
    }
    
    li {
        display: block;
        padding: rhythm(.25) gutter() 0 gutter();
        border-color: rgba(0,0,0,.03);
        @include trailing-border(1px, .25, $base-font-size, solid);
        
        h2 { margin: 0; }
    }
}

.home #navigation {
    background-color: #fff;
    width: 100%;
    clear: both;
    text-align: left;
    margin: 0;
    
    a { 
        color: #fff; 
        position: relative;
        z-index: 100;
        text-shadow: 0 0 20px #333;
        display: block;
        height: rhythm(5);
        text-align: center;
        line-height: rhythm(3);
        padding: rhythm(.5) gutter(6);
    }
    
    h1 { 
        padding: rhythm(.5) gutter(); 
        margin: 0;
        font-size: 18px;
        display: block;
        background-color: $red;
        color: #fff;
        text-align: center;
    }
    
    h2 { 
        @include adjust-font-size-to(20px); 
        @include adjust-leading-to(1, 20px);
    }
    
    ul {
        margin: 0;
        padding-left: 0;
    }
    
    li {
        width: 50%;
        height: rhythm(5);
        margin: 0;
        position: relative;
        float: left;
        border-color: #e7e7e7;
        padding: 0;
        background-size: cover;
        @include apply-side-rhythm-border(right, 1px, 0, $base-font-size, solid);
        border-bottom: 0;
        
        &:after {
            @include trailing-border(1px, 0, $base-font-size, solid);
            border-color: #fff;
            @include box-sizing(border-box);
        }

        &:nth-of-type(2n) { border-right: 0; }
        
        &:nth-of-type(3) { border-left: 0; }
        
        &:nth-of-type(3), &:nth-of-type(4) {
            @include trailing-border(0px, 0, $base-font-size, solid);
        }
    }
}

.pagination {
    background-color: #fff;
    clear: both; 
    padding: 0 gutter(6);
    margin: 0;
    position: relative;
    height: rhythm(2);
    
    li {
        display: inline-block;
        height: 100%;
        position: absolute;
        top: 0;
        text-align: center;
    }
    
    a {
        color: $red;
        display: inline;
        padding: 5px 10px;
        line-height: 3em;
        border-radius: 30px;
        background-color: #EEE;
    }
        
    &:nth-of-type(2) {
        @include leading-border(1px, 0, $base-font-size, solid);
        border-color: #e7e7e7;
    }
    
    .page-input {
        left: 10%;
        width: 80%;
        
        form {
            padding: rhythm(.5) 0;
        }
        
        input[type=text] { 
            width: 3em; 
            border: 0;
            border-bottom: 1px solid #e7e7e7;
            text-align: center;
        }
    }
    
    .pagination_previous {
        width: 10%;
        left: 3%;
    }
    
    .pagination_next {
        left: 87%;
        width: 10%;
        
        a { background-color: #e7e7e7; }
    }
}

.by-image a:before {
    content: "\e00e";
    font-family: 'entypo';
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-right: .5em;
    display: block;
    margin: 0 auto;
}

.alphabetically a:before {
    content: "ABC";
    font-size: 12px;
    vertical-align: middle;
}

.people nav ul li {
    display: inline-block;
}

/* @end */

/* @group ----- About ----- */

.page div[role=main] {
    clear: both;
    padding: 0 0 rhythm(2) 0;
    background-color: #fff;
    float: left;
    
    p {
        padding: 0 gutter(6);
        @include at-breakpoint($break) {
            width: 100%;
            float: left;
            display: inline-block;
        }
    }
    
    @include at-breakpoint($break) {
        .history p { width: 60%; }
    }
}

/* @end */

/* @group ----- Discover ----- */

.explorations div[role=main], 
.exploration-answer div[role=main]{
    float: left;
}

.explorations div[role=main] h1:first-of-type,
.exploration-answer div[role=main] h1:first-of-type {
    background-color: $blue;
    color: #fff;
}

.questions { 
    width: 100%;
    clear: both;
}

.explorations .question {
    background-color: #fff;
    background-size: cover;
    background-position: center center;
    width: 50%;
    height: rhythm(10);
    float: left;
    border-color: #e7e7e7;
    padding: rhythm() gutter(6);
    border-left: 1px solid #e7e7e7;
    position: relative;
    @include leading-border(1px, 1);

    p { margin: 0; }
    
    &:first-of-type {
        width: 100%;
        @include adjust-font-size-to(24px);
        height: 10em;
    }
    
    &:nth-of-type(6), &:nth-of-type(8) {
        width: percentage(1/3);
    }
    
    &:nth-of-type(7) {
        height: 20em;
        width: percentage(2/3);
        @include adjust-font-size-to(24px);
        line-height: 36px;
        float: right;
    }


    &:nth-of-type(2n+1):after {
        /* Black */
        background-image: -webkit-linear-gradient(215deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3));
        background-image: -moz-linear-gradient(215deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3));
        background-image: linear-gradient(215deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3));
    }


    &:first-of-type:after, &:nth-of-type(5n):after {
        /* Red */
        background-image: -webkit-linear-gradient(15deg, rgba(0, 0, 0, 0.8), rgba(119, 24, 0, 0.61));
        background-image: -moz-linear-gradient(15deg, rgba(0, 0, 0, 0.8), rgba(119, 24, 0, 0.61));
        background-image: linear-gradient(15deg, rgba(0, 0, 0, 0.8), rgba(119, 24, 0, 0.61));
    }
    
    &:nth-of-type(2n):after, &:nth-of-type(7n):after {
        /* Blue */
        background-image: -webkit-linear-gradient(255deg, rgba(0, 0, 0, 0.8), rgba(43, 137, 217, 0.6));
        background-image: -moz-linear-gradient(255deg, rgba(0, 0, 0, 0.8), rgba(43, 137, 217, 0.6));
        background-image: linear-gradient(255deg, rgba(0, 0, 0, 0.8), rgba(43, 137, 217, 0.6));
    }
    
    &:nth-of-type(4n):after {
        /* Green */
        background-image: -webkit-linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(18, 111, 0, 0.64));
        background-image: -moz-linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(18, 111, 0, 0.64));
        background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(18, 111, 0, 0.64));
    }

    &:nth-of-type(3n):after {
        /* Yellow */
        background-image: -webkit-linear-gradient(195deg, rgba(0, 0, 0, 0.8), rgba(217, 196, 20, 0.4));
        background-image: -moz-linear-gradient(195deg, rgba(0, 0, 0, 0.8), rgba(217, 196, 20, 0.4));
        background-image: linear-gradient(195deg, rgba(0, 0, 0, 0.8), rgba(217, 196, 20, 0.4));
    }
    

    
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 0;
    }
    
    a {
        position: relative;
        z-index: 10;
        text-shadow: 0 0 60px #000, 0 0 60px #000;
        color: #fff;
    }
}

.exploration-answer div[role=main] {
    background: #fff;
    
    h2 {
        padding: 0 gutter(6);
    }
}

.answer {
    background: #fff;
    padding: rhythm(1) 0;
    
    p {
        padding: 0 gutter(6);
        @include at-breakpoint($break) {
            width: 100%;
            display: inline-block;
            padding: 0 gutter(6);
        }
    }
    
    .related-items {
        display: none;
    }
    
    .related-items-mobile {
        @include trailer();
        @include leader(2);
        overflow: auto;

        .previous, .next {
            display: inline-block;
            background-color: #666;
            width: 5%;
            height: 9em;
            line-height: 9em;
            float: left;
            text-align: center;
            vertical-align: middle;
            font-weight: bold;
            
            a { color: #fff; }
        }
        
        .image {
            display: inline-block;
            width: 90%;
            
            &:first-of-type { margin: 0; }
            
            &:before {
                content: "1/5";
                text-align: center;
                display: inline;
                line-height: 4.5em;
                margin-left: 45%;
                font-size: 2em;
            }
        }
        
        .caption { 
            background-color: #e7e7e7;
            font-style: italic; 
            clear: both;
            padding: rhythm(1) gutter(6);
            text-align: center;
        }
    }
}

.right {
    width: 100%;
    display: block;
    @include at-breakpoint($break) {
        float: right;
        width: 35%;
        margin-right: 5%;
        
        .image {
            float: right;
            &:first-of-type { margin-right: 0; }
        }
    }
}


.learn-more {
    clear: both;
    padding: rhythm(1) gutter(6);
    overflow: auto;
    border-color: #ccc;

    & > p {
        margin-left: 1.5em;
        text-indent: -1.5em;
    }
    
    & > p:first-of-type { 
        font-weight: bold; 
    }
    
    .other-questions {
        border-color: #ccc;
        @include leading-border(1px, 1, $base-font-size, solid);
        @include trailing-border(1px, 1, $base-font-size, solid);

        & > p a:before {
            font-family: 'entypo';
            speak: none;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            margin-right: .5em;
        }

        & > p:first-of-type { margin-top: 0;}
        
        & > p:last-of-type { margin-bottom: 0;}
        
        .back a:before { content: "\e00d"; }
        .prev a:before { content: "\e006"; }
        .next a:before { content: "\e009"; }
    }
    
    ul {
        padding-left: 1.5em;
        border-color: #ccc;
        @include trailing-border(1px, 1, $base-font-size, solid);
    }
}

.image-list-left-thumbs {
    padding: 0 gutter(6);
    
    img { 
        margin: rhythm(1) gutter(6) rhythm(1) 0; 
        float: left;
    }
}

.image-text-group {
    overflow: visible;
}

/* @end */

/* @group ----- People ----- */

.people {
    .items { 
        background-color: #fff;
        padding: rhythm() gutter(6); 
        overflow: auto;
    }

    .pagination {    
        width: 75%;
        background-color: #fff;
        margin: 0;
        overflow: auto;
        padding-left: gutter(6);
        border-color: #e7e7e7;
        float: left;
        
        & + ul {
            margin: 0;
            font-size: 0;
            float: right;
            width: 25%;
            background-color: #fff;
            position: relative;
            border-left: 1px solid #e7e7e7;

            
            li {
                width: 50%;
                font-size: $base-font-size;
                text-align: center;
                background-color: #fff;
                height: rhythm(2);
                line-height: $base-line-height;
                display: table;
                float: left;
                
                a { 
                    width: 100%;
                    line-height: $base-line-height;
                    display: table-cell;
                    vertical-align: middle;
                    height: 100%;
                }
            }
        }
    }
    
    nav li {
        height: 100%;
    }

    .letter {
        clear: both;
    }
    
    .blurb { display: none; }
}

.people.items.browse .item {
    @include trailing-border(0px, 1, $base-font-size, solid);
    overflow: hidden;
}

.persons.images { 
    text-align: center;
    @include padding-leader();

    .person { 
        width: percentage(1/4); 
        display: inline-block;
        vertical-align: top;
        margin: 2%;
        text-align: center;
    }
    
    .image { 
        width: 85px;
        display: inline-block; 
        -webkit-border-radius: 55px/100px;
        -moz-border-radius: 55px/100px;
        border-radius: 55px/100px;
        overflow: hidden;
        text-align: center;
        background: #e7e7e7 center center no-repeat;
        @include background-size(cover);
        height: rhythm(6);
        @include trailer();

        
        a {
            display: block;
            width: 100%;
            height: 100%;
            text-indent: -9999px;
        }
    }
    
    .person h2 { 
        margin-top: 0; 
        @include adjust-font-size-to(14px);
        text-align: center;
        font-style: italic;
    }
}

.persons.alpha { 
    padding: 0;
    text-align: left;
    display: none;

    h2 {
        margin: 0;
        background-color: #e7e7e7;
        padding: rhythm(.25) gutter(6);
        @include adjust-font-size-to($base-font-size);
    }
    
    .person {
        padding: rhythm(.25) gutter(6);
        display: inline-block;
        width: 100%;
    }
}

#people-item-type-metadata-first-name,
#people-item-type-metadata-last-name {
    display: none;
}

.persons + nav {
    @include box-shadow(rgba(0, 0, 0, 0.1) 0 0 20px);
    overflow: auto;
}

/* @end */

/* @group ----- Events ----- */


.items.event {
    
    .items { 
        background-color: #fff;
        overflow: auto;
        position: relative;
        @include padding-leader(2);
        
        .period h2 { background-color: #e7e7e7; }
        .period:nth-of-type(2n) h2 { background-color: #e7e7e7; }
        
        h2 {
            
            @include adjust-font-size-to($base-font-size);
            margin-top: 0;
            padding: rhythm(.5) gutter(6);
        }
        
        .image {
            display: block;
            width: 100px;
            height: 100px;
            float: left;
            background-color: #ccc;
            margin: 0 gutter(6) rhythm(.5) 0;
        }
        
        .period {
            overflow: auto;
            border-color: #e7e7e7;
            @include trailing-border(1px, 0, $base-font-size, solid);
        }
        
        .event {
            padding: 0 gutter(6);
            border-color: #e7e7e7;
            @include leading-border(1px, 0, $base-font-size, solid);
            @include padding-trailer();
            
            &:first-of-type {
                @include leading-border(0px, 0, $base-font-size, solid);
            }
        }
    }
}

#period-nav {
    padding: rhythm(.625) gutter(6);
    text-align: left;
    vertical-align: top;
    width: 100%;
    position: absolute;
    top: 0;
    font-size: 14px;
    line-height: 24px;
    background-color: #fff;
    text-align: center;
    @include box-shadow(0 0 50px #bbb);
    
    .heading:after {
        content: ":";
        display: inline-block;
        width: 160px;
        text-align: left;
    }
    
        
    ul { 
        position: absolute;
        top: rhythm(.25);
        margin: rhythm(.1875) 0 rhythm(1) 0;
        left: 50%;
        border-bottom: 1px solid #e7e7e7;
    }
    
    ul li { 
        display: none; 
        background-color: #fff;
        text-align: left;
        
        &:first-of-type { 
            font-weight: bold; 
            display: block;
            cursor: pointer;
            height: rhythm(1.5);
            line-height: 1.25 * $base-line-height;
            padding: 0 gutter(6);
            color: $red;
            width: 150px;
            border: solid #e7e7e7;
            border-width: 1px 1px 0 1px;
            
            &:after { 
                content: "";
                height: 0;
                width: 0;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 6px solid $red;
                position: absolute;
                top: 13px;
                right: 10px;
            }
        }
    }
    
    ul:hover li, &.on ul li, &.off ul li:first-of-type {
        display: block;
    }
    
    &.off ul li {
        display: none;
    }
    
    a {
        border: solid #e7e7e7;
        border-width: 1px 1px 0 1px;
        width: 150px;
        display: block;
        height: rhythm(1.5);
        line-height: 1.25 * $base-line-height;
        padding: 0 gutter(6);
    }
    
    &.fixed {
        position: fixed;
        top: 0;
    }
}

/* @end */

/* @group ----- Sites ----- */

.locations {
    background-color: #fff;
    
    .image {
        width: 100px;
        height: 100px;
        margin-bottom: rhythm(.5); 
        @include at-breakpoint($break) {
            margin-bottom: 0;
        }
        
    }
}

    
.sites div[role=main] h1:first-of-type { 
    background-color: $green;
    color: #fff;
}

.site {
    padding: rhythm(1) gutter(6) 0;
    border-color: #ccc;
    overflow: auto;
    @include trailing-border(1px, 1, $base-font-size, solid);
    
    h3 { margin-top: 0; }
    
    p:last-of-type { margin-bottom: 0; }
}

.item {
    div[role=main] {
        background-color: #fff;
        @include padding-trailer(2);
        
        h2 { 
            padding-left: 0; 
            
            &:first-of-type { margin-top: rhythm(1); }
        }
    }
    
    .metadata .image {
        width: 100%;
        padding: 20px;
        margin: 0;
        border-color: #e7e7e7;
        @include leading-border(1px, 0, $base-font-size, solid);
    }
    
    .description {
        padding: 0 gutter(6);
        
        p { 
            clear: both; 
            
            &:first-of-type { padding-top: rhythm(1); }
        }
    }
    
    .category { font-weight: bold; }
    
}
/* @end */

/* @group ----- Themes ----- */

.themes {    
    .theme-list {
        padding: rhythm(2) gutter(6);
        background-color: #fff;
    }
    .theme a {
        background-color: #e7e7e7;
        padding: rhythm(.5) gutter(6);
        @include trailer();
        @include border-radius(5px);
        display: inline-block;
        width: 100%;
    }
}

/* @end */

/* @group ----- Search results ----- */

.search div[role="main"] {
    width: 100%;
}

.search h1:first-of-type {
    position: relative;
    z-index: 60;
}

.search-result {
    border-color: #e7e7e7;
    padding: rhythm(.5) gutter(6);
    @include trailing-border(1px, .5, $base-font-size, solid);
    
    &:last-of-type {
        border-bottom: 0;
    }
}

.search .pagination:first-of-type, .search .pagination:nth-of-type(2) {
    @include box-shadow(rgba(0,0,0,.04) 0 0 10px 10px);
    z-index: 50;
    border: 0;
}

/* @end */

/* @group ----- Items/Browse ----- */

#no-results {
    padding: 0 gutter(6);
}

.items.browse .item {
    padding: 0 gutter(6);
    border-color: #e7e7e7;
    @include trailing-border(1px, 1, $base-font-size, solid);
    overflow: auto;
    
    img {
        float: left;
        margin-right: gutter(4);
    }
}

.items + nav {
    @include box-shadow(rgba(0, 0, 0, 0.1) 0 -5px 20px);
    overflow: auto;
}

/* @end */

/* @group ----- Items/Show ----- */

.items.show div[role=main] {
    @include padding-trailer(3);
    
    & > div {
        padding: 0 gutter(6);
    }
    
    & > aside {
        & > div {
            display: none;
        }
        
        nav {
            padding: 0;
        }
        
        .images {
            display: block;
            padding: 0;
        }
    
        img {
            max-width: 100%; 
            height: auto;
            vertical-align: bottom;
        }
    }
}

.items.show .element-set { display: none; }

.item-pagination {
    height: rhythm(2);
    margin: 0;
    position: relative;
    @include trailing-border(1px, 0, $base-font-size, solid);
    border-color: #e7e7e7;
    
    li {
        position: absolute;
        top: 0;
        width: 50%;
        text-align: center;
        
        a {
            padding: rhythm(.5) 0;
            display: inline-block;
            width: 100%;
        }
    }
}

#next-item {
    left: 50%;
}
/* @end */