@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-search, .icon-facebook, .icon-twitter, .icon-export, .icon-house, .icon-list, .icon-arrow-left, .icon-arrow-down, .icon-arrow-up, .icon-arrow-right, .icon-pinterest, .icon-googleplus, .icon-rss, .icon-reply, .icon-user, .icon-map, .icon-cycle, .icon-reload, .icon-location, .icon-equalizer {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-search:before {
	content: "\e000";
}
.icon-facebook:before {
	content: "\e002";
}
.icon-twitter:before {
	content: "\e001";
}
.icon-export:before {
	content: "\e003";
}
.icon-house:before {
	content: "\e004";
}
.icon-list:before {
	content: "\e005";
}
.icon-arrow-left:before {
	content: "\e006";
}
.icon-arrow-down:before {
	content: "\e007";
}
.icon-arrow-up:before {
	content: "\e008";
}
.icon-arrow-right:before {
	content: "\e009";
}
.icon-pinterest:before {
	content: "\e00a";
}
.icon-googleplus:before {
	content: "\e00b";
}
.icon-rss:before {
	content: "\e00c";
}
.icon-reply:before {
	content: "\e00d";
}
.icon-user:before {
	content: "\e00e";
}
.icon-map:before {
	content: "\e00f";
}
.icon-cycle:before {
	content: "\e010";
}
.icon-reload:before {
	content: "\e011";
}
.icon-location:before {
	content: "\e012";
}
.icon-equalizer:before {
	content: "\e013";
}
